*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.contact{
    background-color: #050816;
    max-width: 100vw;
    height: 70vh;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;


}
.social{
    border: 1px solid #1976D2;
    padding-inline: 5px;
}
.icon{
    fill: #1976D2;
    color: #1976D2;
    width: 30px;
    height: 20px;
}
.first{
    width: 500px;
    height: 300px;
    background-color: #100D25;
    padding-left: 10px;
}
.touch{
    width: 500px;
    height: 300px;
    background-color: #100D25;
}